<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Fetch by range of dates</title>
</head>
<body>
<section>
    <p>

    <div class="row">
        <form th:action="@{/admin/fetch_range}" th:object="${dateRange}" method="post">
            <div class="mb-3">
                <label class="form-label">Data od</label>
                <input type="date" th:field="*{dateFrom}" class="form-control">
                <div class="form-text">Wybierz początek zakresu</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Data do</label>
                <input type="date" th:field="*{dateTo}" class="form-control">
                <div class="form-text">Wybierz koniec zakresu</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </p>
</section>
</body>
</html>