<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Stocks</title>
</head>
<body>
<section>
    <p>
        Stocks <span th:text="${#lists.size(allStocks)}">0</span>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Prices</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stock,iter : ${allStocks}">
            <th scope="row" th:text="${iter.index + 1}">1</th>
            <td th:text="${stock.name}">name</td>
            <td th:text="${stock.code}">code</td>
            <td><a th:href="@{/admin/stock_prices/{code}(code=${stock.code})}">see</a></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>