<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Oauth login page</title>
</head>
<body>
<section>
    <p>
        Stocks for <span th:text="${stockCode}">code</span> <span th:text="${#lists.size(allStockPrices)}">0</span>
    </p>

    <table>
        <tr>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Price</th>
            <th>Volume</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Updated at</th>
        </tr>
        <tr th:each="price : ${allStockPrices}">
            <td th:text="${price.priceOpen}">name</td>
            <td th:text="${price.priceHigh}">name</td>
            <td th:text="${price.priceLow}">name</td>
            <td th:text="${price.price}">name</td>
            <td th:text="${price.volume}">name</td>
            <td th:text="${price.amount}">name</td>
            <td th:text="${price.date}">name</td>
            <td th:text="${price.updatedAt}">name</td>
        </tr>
    </table>
</section>
</body>
</html>